/******************SELECTORES************************/

body{
    background-color: rgb(178, 178, 180); 
}

button {
    margin-bottom: 10px;
}











/******************CLASES************************/


.encabezado {
    color: white;
    margin-top: 20px;
}

.cont-navegador{
    justify-content: center !important;

}
.articulos div {
    background: ivory;
}
.sumario div {
    background: lightblue;
        
}
.sinmargendcha {
    margin-right: 0px;
    padding-right: 0px;
}
.sinmargenizq {
    margin-left: 0px;
    padding-left: 0px;
}
.sumario h3 {
    color:solid rgb(19, 18, 18);
}
.bordeazul div {
    border-top: 1px solid rgb(22, 41, 214);
}
.items {
    background:white;
    margin-right: 0px;
}




/* Prueba de css plantilla*/



.items{
	margin: auto;
}

.items .product{
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.items .product .info{
	padding-top: 0px;
	text-align: center;
}

.items .product .info .product-name{
	font-weight: 600;
}

.items .product .info .product-name .product-info{
	font-size: 14px;
	margin-top: 15px;
}

.items .product .info .product-name .product-info .value{
	font-weight: 400;
}

.items .product .info .quantity .quantity-input{
    margin: auto;
    width: 80px;
}

.items .product .info .price{
	margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
 }