/******************SELECTORES************************/

body{
    
}


/*
h1{
    font-size: 25px;
}

*/











/******************CLASES************************/


.cont-carousel{
    background-color: #ccc;
}

.sin {
    text-decoration: none;
}
.precio {
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 4px;
}

