/******************SELECTORES************************/

body{
    background-color: rgb(13, 12, 20); 

   
    
}














/******************CLASES************************/



.sin {
    text-decoration: none;
}

.precio {
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 4px;
}
.precio-reverse{
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 4px;

}


.sep, .sep2{
    padding-top: 60px;
   
    padding-bottom: 15px;
      
}



.sep2{
    margin-top: 0px;
}



.sep{
     margin-top: 35px;
}


.sep3{
    margin-top: 35px;
}


.sep h2, .sep2 h2{
    letter-spacing: 12px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}



.cent{
    box-shadow: 2px 0px 5px whitesmoke, -2px 0px 5px white;
    



}


.cent1{
    box-shadow: 2px 2px 5px whitesmoke, -2px 0px 5px white;

}


.cent3{
    box-shadow: 2px 0px 5px whitesmoke, -2px -2px 5px white;
    border-radius: 0px 0px 15px 15px;
    padding-bottom: 15px;

}
.br-radius-top{
    border-radius: 15px 15px 0px 0px;
}



.br-radius-bot{
    border-radius: 0px 0px 15px 15px;
}


.bg {
    background-color: darkslategray;
    border-radius: 10px;
    width: 45px;
    height: 30px;
    color: whitesmoke;

}

.align-center{
    text-align: center;
}





.pointer{
    cursor: pointer;
}



.titulo-novedades{
    font-size: 20px;
}

.p-novedades{
    text-align: justify;
    padding-top: 8px;
}

.br-white{
    background-color: white;
    border-radius: 5px;
}

.marg-top{
    margin-top: 20px;
}

.btn-pad{
    padding-bottom: 10px;
}
.footer{
    background-color: #343a40;
    padding: 30px;
    color: whitesmoke;
}
.footer-2{
    font-size: 20px;
}


.suscribir{
    width: 70% !important;
}


.padding-bot{
    padding-bottom: 15px;
}


.footer h3{
    font-size: 15px;
}


.footer h6{
    font-size: 10px;
}
.footer a, .footer a:visited, .footer a:focus, .footer a:hover{
    text-decoration: none;
    color: whitesmoke;

}


.footer a:hover{
    color: rgb(194, 218, 173);
}


.footer h3{
    padding-bottom: 15px;
}



.br-top{
    border-radius: 5px;
}

.bx-shadow-top{
    box-shadow: 10px 10px 50px;
}


.cont-carousel{
    margin: 10px;
    padding: 10px;
}
.marg-top{
    margin-top: 10px;
}






/******************MEDIA***********************/





@media only screen and (max-width: 992px) {
    .opciones {
      flex-flow: column wrap;
    }
    .precio {
      margin-top: 4px;
    }

  }

</style>




/*****************************************        ANIMACIONES          *******************************************/



.hover-1  img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover-1 img:hover {
	opacity: .4;
}
